@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PERFUMARIA FLAK</h1>
    
    
    <p>Os melhores aromas da região. <!--<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>--></p>
</div>